POSTGRES_USER=xama_user
POSTGRES_PASSWORD=xama_pass_2024
POSTGRES_DB=xama_db
SECRET_KEY=cambia_esto_con_openssl_rand_hex_32
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENVIRONMENT=development
NEXT_PUBLIC_API_URL=http://localhost:8000

# Notificaciones email
SMTP_MODE=dryrun  # dryrun | mailhog | real
SMTP_HOST=xama-mailhog
SMTP_PORT=1025
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=xama@ejemplo.local
EXPIRING_DAYS=3
INVENTORY_URL=http://localhost:3100/inventory
