POSTGRES_USER=xama_user
POSTGRES_PASSWORD=xama_pass_2024
POSTGRES_DB=xama_db
SECRET_KEY=cambia_esto_con_openssl_rand_hex_32
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
ENVIRONMENT=development
NEXT_PUBLIC_API_URL=http://localhost:8000
